* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0 10%;
}

.block-1 {
    padding-top: 136px;
}

.text-1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A53436;
}

.block-2 {
    display: flex;
    gap: 24px;
    padding-top: 48px;
    align-items: flex-start;
}
.text-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.block-2-image {
    margin-top: -65px;
}
.block-3 {
    padding-top: 70px;
}
.text-3 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A53436;
}
.block-4 {
    padding-top: 48px;
    padding-left: 24px;
    display: flex;
    gap: 63px;
    align-items: center;
}
.block-4-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 48px;
    background: white;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 24px;
}
.stat-item {
    display: flex;
    align-items: center;

}
.number {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
    min-width: 120px;
}
.t-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #333;
    margin-left: 64px;
}
.block-5 {
    padding-top: 140px;
}
.text-5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A53436;
}
.block-6 {
    padding-top: 48px;
    padding-left: 24px;
    display: flex;
    gap: 133px;
    align-items: center;
}
.text-6 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.text-6 li {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #263238;

}
.block-7 {
    padding-top: 48px;
}
.text-7 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.block-8 {
    padding-top: 70px;
}
.text-8 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A53436;
}
.block-9 {
    padding-top: 48px;
    padding-left: 24px;
}
.text-9 {
    font-weight: 600;
    font-size: 16px;
    line-height: 3;
    letter-spacing: 0;
    color: #263238;
}
.block-10 {
    padding-top: 48px;
}
.text-10 {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;

}
.block-11 {
    padding-top: 140px;
}
.text-11 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A53436;
}
.text-12 {
    padding-top: 24px;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.text-13 {
    padding-top: 24px;
    padding-left: 24px;
}
.text-16 {
    font-weight: 100;      /* Light — тонкий */
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
    margin-top: 24px;
}
.button {
    background-color: #A53436;  /* цвет фона */
    color: white;                /* цвет текста */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;          /* отступы внутри кнопки */
    border: none;                /* убираем стандартную рамку */
    border-radius: 30px;         /* закругление углов */
    cursor: pointer;             /* курсор-рука при наведении */
    transition: all 0.2s;        /* плавность при наведении */
}

/* Эффект при наведении */
.button:hover {
    background-color: #7a2628;   /* темнее при наведении */
    transform: scale(1.02);      /* чуть увеличивается */
}
.button-2 {
    background-color: #A53436;  /* цвет фона */
    color: white;                /* цвет текста */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;          /* отступы внутри кнопки */
    border: none;                /* убираем стандартную рамку */
    border-radius: 30px;         /* закругление углов */
    cursor: pointer;             /* курсор-рука при наведении */
    transition: all 0.2s;        /* плавность при наведении */
}

/* Эффект при наведении */
.button-2:hover {
    background-color: #7a2628;   /* темнее при наведении */
    transform: scale(1.02);      /* чуть увеличивается */
}
.gom {
    padding-top: 48px;

}
.gom-1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
    padding-top: 48px;
}
.gom-3 {
    display: flex;
    gap: 12px;
    padding-top: 24px;
}
.gom-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.gom-5 {
    padding-top: 48px;
}
.gom-4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.gom-7 {
    padding-top: 24px;
    display: flex;
    gap: 12px;
}
.gom-8 {
    padding-top: 24px;
    display: flex;
    gap: 12px;
}
.gom-6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.gom-9 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #263238;
}
.gomu {
    display: flex;
    gap: 64px;
}
.kuchahub {
    margin-top: 48px;
}